{% extends "base.html" %}

{% block content %}
  <h1>
    Task list
    <a href="{% url 'list:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
    <a href="{% url 'list:task-update' %}" class="btn btn-primary link-to-page">
      Update
    </a>
    <a href="{% url 'list:task-delete' %}" class="btn btn-primary link-to-page">
      Delete
    </a>
  </h1>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          Task: {{ task.content }} ({{ task.created_at }})
          <br>
          Deadline: {{ task.deadline }}
          Relevant Tags: {{ task.relevant_tags }}
          Done: {{ task.done }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks in the list</p>
  {% endif %}
{% endblock %}
